<form [formGroup]="form">
	<table>
		<tr>
			<td><label for="title">Title:</label></td>
			<td><input id="title" size="50" formControlName="title"></td>
		</tr>
		<tr>
			<td><label for="description">Description:</label></td>
			<td>
				<textarea id="description" rows="5" cols="40" formControlName="description">
				</textarea>
			</td>
		</tr>
		<tr>
			<td><label for="priority">Priority:</label></td>
			<td>
				<select id="priority" formControlName="priority">
					<option value="low">low</option>
					<option value="med">med</option>
					<option value="high">high</option>
				</select>
			</td>
		</tr>
	</table>
</form>
<ng-content></ng-content>
