<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Default Layout</title>
    </head>
    <body>

        <h2>Hello Welcome</h2>

        <!-- router-outlet -->
        <div style="border: 1px red solid; margin: 5px;">
            {{{ body }}}
        </div>
        
    </body>
</html>