<div class="container">
	<div class="row mt-4">
		<div class="col" style="border: black 1px solid;">
			<webcam [width]="400" [height]="400"  [imageQuality]="1"
					[trigger]="triggerObservable" (imageCapture)="handleImage($event)"
					(initError)="webcamInitError($event)">
			</webcam>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col">
			<form [formGroup]="form" (ngSubmit)="post()">
				<div class="mb-1">
					<label for="poster">Poster</label>
					<input id="poster" type="text" class="form-control" formControlName="poster">
				</div>
				<div class="mb-1">
					<label for="comments">Comments</label>
					<textarea id="comments" class="form-control" name="" cols="30" rows="10" formControlName="comments">
					</textarea>
				</div>
				<div class="mb-5 d-flex justify-content-around">
					<button type="submit" class="btn btn-primary btn-lg">Post</button>
					<button type="button" class="btn btn-warning btn-lg" (click)="snap()">Snap</button>
				</div>
			</form>
		</div>
	</div>
</div>
